$primary-bg-color: #cfe4ff;
$primary-fg-color: #1071e5;
$light-nav-bg: #f8f9fa;
$light-nav-item-hover-bg: #e3e3e3;
$light-nav-icon-color: #282c33;
$light-nav-icon-hover-color: $primary-fg-color;
$light-separator-color: #c6c6c6;

$light-tooltip-bg-color: #282c338f;
$light-tooltip-color: #f8f9fa;
