@import "../../../../styles/variables.scss";

.sidenav_container {
  z-index: 10;
  position: absolute;
  border-radius: 10px;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
  animation: waitGsap 2s linear;
  .sidenav_item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    width: 320px;
    // animation: waitGsap 1s;
    .sidenav_content {
      border-radius: 10px;
      margin-bottom: 5px;
      padding: 10px;
      background-color: $light-nav-bg;
      .heading {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $light-nav-icon-hover-color;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

// needed to wait gsap initial hide
@keyframes waitGsap {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background_option {
}
